<?xml version="1.0"?>

<!-- top level -->
<robot name="iiwa14" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- include the lbr iiwa macro -->
    <xacro:include filename="$(find lbr_description)/urdf/iiwa14/iiwa14_description.xacro" />
    <!-- Include the mobile platform xacro-->
    <xacro:include filename="$(find lbr_description)/urdf/iiwa14/mobile_platform.xacro"/>
    <!-- Include the beer tool xacro -->
    <xacro:include filename="$(find lbr_description)/urdf/iiwa14/beer_tool.xacro" />

    <xacro:arg name="robot_name" default="lbr" />
    <xacro:arg name="mode" default="true" />
    <xacro:arg
        name="system_parameters_path"
        default="$(find lbr_ros2_control)/config/lbr_system_parameters.yaml" />

    <!-- fixed to world, see http://classic.gazebosim.org/tutorials?tut=ros_urdf&cat=connect_ros -->
    <link name="world" />

    <!--joint
        between world and link_0-->
    <joint name="world_joint" type="fixed">
        <origin xyz="0 0 0.0775" rpy="0.0 0.0 0.0"/>
        <parent link="world" />
        <child link="base_link" />
    </joint>

    <joint name="base_link-to-iiwa" type="fixed">
        <origin rpy="0 0 -1.5708" xyz="0.363 -0.184 0.2625"/>
        <parent link="base_link_top"/>
        <child link="link_0"/>
    </joint>


    <joint name="joint_ee" type="fixed">
        <parent link="beertool" />
        <child link="link_ee" />
        <origin xyz="0 -0.15 -0.04" rpy="1.570796 0 0" />
    </joint>

    <!-- iiwa -->
    <xacro:iiwa14
        robot_name="$(arg robot_name)"
        mode="$(arg mode)"
        system_parameters_path="$(arg system_parameters_path)" />
</robot>